*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-200:#e5e5ea;
  --rs-gray-600:#717273;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-divider-border:var(--rs-gray-200);
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-200:#a4a9b3;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-divider-border:var(--rs-gray-600);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-200:#a4a9b3;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-divider-border:var(--rs-gray-600);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-sm:0.875rem;
  --rs-line-height-md:calc(20 / 14);
  --rs-spacing:0.25rem;
  --rs-scale:1;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
.rs-divider{
  --rs-divider-size-xs:calc(0.0625rem * var(--rs-scale));
  --rs-divider-size:var(--rs-divider-size-xs);
  --rs-divider-spacing-xs:calc(var(--rs-spacing) * 2);
  --rs-divider-spacing:var(--rs-divider-spacing-xs);
  --rs-divider-border-style:solid;
  --rs-divider-border-color:var(--rs-divider-color, var(--rs-divider-border));
  --rs-divider-label-font-size:var(--rs-font-size-sm);
  font-size:var(--rs-divider-label-font-size);
  color:var(--rs-divider-color, inherit);
  border-style:var(--rs-divider-border-style);
  border-color:var(--rs-divider-border-color);
  border-width:0;
}
.rs-divider:where([data-appearance=dashed]){
  --rs-divider-border-style:dashed;
}
.rs-divider:where([data-appearance=dotted]){
  --rs-divider-border-style:dotted;
}
.rs-divider:where([data-orientation=horizontal]){
  width:100%;
  margin-block:var(--rs-divider-spacing);
  border-top-width:var(--rs-divider-size);
}
.rs-divider:where([data-orientation=vertical]){
  display:inline-block;
  min-height:1em;
  height:100%;
  width:1px;
  vertical-align:middle;
  margin-inline:var(--rs-divider-spacing);
  border-inline-start-width:var(--rs-divider-size);
}
.rs-divider:where([data-orientation=horizontal][data-with-label=true]){
  display:flex;
  flex-direction:row;
  align-items:center;
  background:transparent;
  flex:0 0 auto;
  border-width:0;
}
.rs-divider:where([data-orientation=horizontal][data-with-label=true])::before, .rs-divider:where([data-orientation=horizontal][data-with-label=true])::after{
  content:"";
  flex:1 1 auto;
  border-top-style:var(--rs-divider-border-style);
  border-top-color:var(--rs-divider-border-color);
  border-top-width:var(--rs-divider-size);
}
.rs-divider:where([data-orientation=horizontal][data-with-label=true])::before{
  margin-inline-end:var(--rs-divider-spacing-xs);
}
.rs-divider:where([data-orientation=horizontal][data-with-label=true])::after{
  margin-inline-start:var(--rs-divider-spacing-xs);
}
.rs-divider:where([data-placement=start]):before{
  display:none;
}
.rs-divider:where([data-placement=end]):after{
  display:none;
}