*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-100:#f2f2f5;
  --rs-gray-300:#d9d9d9;
  --rs-gray-400:#b6b7b8;
  --rs-gray-500:#939393;
  --rs-gray-600:#717273;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-primary-500:#3498ff;
  --rs-red-500:#F44336;
  --rs-orange-500:#FA8900;
  --rs-yellow-500:#FFB300;
  --rs-green-500:#4CAF50;
  --rs-cyan-500:#00BCD4;
  --rs-blue-500:#2196F3;
  --rs-violet-500:#673AB7;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-text-disabled:var(--rs-gray-600);
  --rs-focus-ring-color:rgb(from var(--rs-primary-500) r g b / 25%);
  --rs-checkbox-icon:#fff;
  --rs-checkbox-border:var(--rs-gray-300);
  --rs-checkbox-checked-bg:var(--rs-primary-500);
  --rs-checkbox-disabled-bg:var(--rs-gray-50);
}
@supports not (color: rgb(from white r g b)){
  :root{
    --rs-focus-ring-color:rgba(52, 152, 255, 0.25);
  }
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-100:#cbced4;
  --rs-gray-300:#858b94;
  --rs-gray-400:#6a6f76;
  --rs-gray-500:#5c6066;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-500:#34c3ff;
  --rs-red-500:#F04F43;
  --rs-orange-500:#FF9800;
  --rs-yellow-500:#FFC757;
  --rs-green-500:#58B15B;
  --rs-cyan-500:#00BCD4;
  --rs-blue-500:#1499EF;
  --rs-violet-500:#673AB7;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-text-disabled:var(--rs-gray-400);
  --rs-checkbox-icon:var(--rs-gray-800);
  --rs-checkbox-border:var(--rs-gray-400);
  --rs-checkbox-checked-bg:var(--rs-primary-500);
  --rs-checkbox-disabled-bg:var(--rs-gray-500);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-100:#cbced4;
  --rs-gray-300:#858b94;
  --rs-gray-400:#6a6f76;
  --rs-gray-500:#5c6066;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-500:#ffff00;
  --rs-red-500:#BD1732;
  --rs-orange-500:#FF9800;
  --rs-yellow-500:#FFC757;
  --rs-green-500:#0D822C;
  --rs-cyan-500:#00BCD4;
  --rs-blue-500:#1499EF;
  --rs-violet-500:#673AB7;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-text-disabled:var(--rs-gray-400);
  --rs-focus-ring-color:var(--rs-gray-0);
  --rs-checkbox-icon:var(--rs-gray-800);
  --rs-checkbox-border:var(--rs-gray-100);
  --rs-checkbox-checked-bg:var(--rs-primary-500);
  --rs-checkbox-disabled-bg:var(--rs-gray-500);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-sm:0.875rem;
  --rs-line-height-md:calc(20 / 14);
  --rs-spacing:0.25rem;
  --rs-radius-sm:0.25rem;
  --rs-cursor-disabled:not-allowed;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
:root{
  --rs-checkbox-size:16px;
  --rs-checkbox-display:inline-flex;
}

.rs-checkbox{
  display:var(--rs-checkbox-display);
  position:relative;
  align-items:center;
}
.rs-checkbox[data-disabled=true] label{
  cursor:var(--rs-cursor-disabled);
}
.rs-checkbox label{
  font-weight:normal;
  cursor:pointer;
}
.rs-checkbox-inner::before{
  border-color:var(--rs-checkbox-checked-bg);
}
.rs-checkbox[data-disabled=true] label{
  cursor:var(--rs-cursor-disabled);
}
.rs-checkbox[data-disabled=true] > .rs-checkbox-checker > label{
  color:var(--rs-text-disabled);
}
.rs-checkbox [type=checkbox]:focus-visible ~ .rs-checkbox-inner::before{
  outline:2px solid var(--rs-focus-ring-color);
  outline-offset:-1px;
}

.rs-checkbox-checker{
  position:relative;
  display:inline-flex;
}
.rs-checkbox-checker > label{
  display:inline-flex;
  align-items:center;
  gap:calc(var(--rs-spacing) * 2);
}

.rs-checkbox-control::before,
.rs-checkbox-control .rs-checkbox-inner::before,
.rs-checkbox-control .rs-checkbox-inner::after{
  content:"";
  position:absolute;
  inset-inline-start:0;
  top:0;
  display:block;
}
.rs-checkbox-control .rs-checkbox-inner::after{
  opacity:0;
  transform:rotate(45deg) scale(0);
  transition:opacity 0.2s ease-in, transform 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}
[data-theme=high-contrast] .rs-checkbox-control .rs-checkbox-inner::after, .rs-theme-high-contrast .rs-checkbox-control .rs-checkbox-inner::after{
  transition:none;
}
.rs-checkbox[data-checked=true] .rs-checkbox-control .rs-checkbox-inner::after, .rs-checkbox[data-checked=mixed] .rs-checkbox-control .rs-checkbox-inner::after{
  border:solid var(--rs-checkbox-icon);
  width:6px;
  height:9px;
  margin-top:2px;
  margin-inline-start:5px;
  opacity:1;
}
.rs-checkbox[data-checked=true] .rs-checkbox-control .rs-checkbox-inner::after{
  border-width:0 2px 2px 0;
  transform:rotate(45deg) scale(1);
}
.rs-checkbox[data-checked=mixed] .rs-checkbox-control .rs-checkbox-inner::after{
  border-width:0 0 2px;
  transform:rotate(0deg) scale(1);
  width:10px;
  margin-top:0;
  margin-inline-start:3px;
}

.rs-checkbox-control{
  position:relative;
  display:inline-flex;
}
.rs-checkbox-control [type=checkbox]{
  opacity:0;
  z-index:1;
}
.rs-checkbox-control [type=checkbox],.rs-checkbox-control::before,
.rs-checkbox-control .rs-checkbox-inner::before,
.rs-checkbox-control .rs-checkbox-inner::after{
  width:var(--rs-checkbox-size);
  height:var(--rs-checkbox-size);
}
.rs-checkbox-control::before{
  border:1px solid var(--rs-checkbox-checked-bg);
  background-color:transparent;
  border-radius:var(--rs-radius-sm);
  transform:scale(1);
  opacity:0.7;
  visibility:hidden;
  transition:transform 0.2s linear, opacity 0.2s linear;
}
[data-theme=high-contrast] .rs-checkbox-control::before, .rs-theme-high-contrast .rs-checkbox-control::before{
  transition:none;
}
.rs-checkbox[data-checked=true] .rs-checkbox-control::before{
  transform:scale(1.5);
  opacity:0;
  visibility:visible;
}
.rs-checkbox-control .rs-checkbox-inner::before{
  border:1px solid var(--rs-checkbox-border);
  background-color:transparent;
  border-radius:var(--rs-radius-sm);
  transition:background 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
}
[data-theme=high-contrast] .rs-checkbox-control .rs-checkbox-inner::before, .rs-theme-high-contrast .rs-checkbox-control .rs-checkbox-inner::before{
  transition:none;
}
label:hover .rs-checkbox-control .rs-checkbox-inner::before{
  border-color:var(--rs-checkbox-checked-bg);
}
.rs-checkbox[data-disabled=true][data-checked=false] .rs-checkbox-control .rs-checkbox-inner::before{
  border-color:var(--rs-checkbox-disabled-bg);
  background-color:var(--rs-checkbox-disabled-bg);
}
.rs-checkbox[data-checked=true] .rs-checkbox-control .rs-checkbox-inner::before, .rs-checkbox[data-checked=mixed] .rs-checkbox-control .rs-checkbox-inner::before{
  border-color:var(--rs-checkbox-checked-bg);
  background-color:var(--rs-checkbox-checked-bg);
}
.rs-checkbox[data-disabled=true][data-checked=true] .rs-checkbox-control .rs-checkbox-inner::before, .rs-checkbox[data-disabled=true][data-checked=mixed] .rs-checkbox-control .rs-checkbox-inner::before{
  opacity:0.5;
}

.rs-checkbox[data-color=red]{
  --rs-checkbox-checked-bg:var(--rs-red-500);
  --rs-checkbox-border:var(--rs-red-500);
}

.rs-checkbox[data-color=orange]{
  --rs-checkbox-checked-bg:var(--rs-orange-500);
  --rs-checkbox-border:var(--rs-orange-500);
}

.rs-checkbox[data-color=yellow]{
  --rs-checkbox-checked-bg:var(--rs-yellow-500);
  --rs-checkbox-border:var(--rs-yellow-500);
}

.rs-checkbox[data-color=green]{
  --rs-checkbox-checked-bg:var(--rs-green-500);
  --rs-checkbox-border:var(--rs-green-500);
}

.rs-checkbox[data-color=cyan]{
  --rs-checkbox-checked-bg:var(--rs-cyan-500);
  --rs-checkbox-border:var(--rs-cyan-500);
}

.rs-checkbox[data-color=blue]{
  --rs-checkbox-checked-bg:var(--rs-blue-500);
  --rs-checkbox-border:var(--rs-blue-500);
}

.rs-checkbox[data-color=violet]{
  --rs-checkbox-checked-bg:var(--rs-violet-500);
  --rs-checkbox-border:var(--rs-violet-500);
}