*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-sm:0.875rem;
  --rs-font-size-lg:1.125rem;
  --rs-font-size-xl:1.25rem;
  --rs-font-size-2xl:1.5rem;
  --rs-font-size-3xl:1.875rem;
  --rs-font-size-4xl:2.25rem;
  --rs-font-size-5xl:3rem;
  --rs-line-height-md:calc(20 / 14);
  --rs-text-line-height-lg:calc(1.75 / 1.125);
  --rs-text-line-height-xl:calc(1.75 / 1.25);
  --rs-text-line-height-2xl:calc(2 / 1.5);
  --rs-text-line-height-3xl:calc(2.25 / 1.875);
  --rs-text-line-height-4xl:calc(2.5 / 2.25);
  --rs-text-line-height-5xl:1;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
:root{
  --rs-heading-font-family:inherit;
  --rs-heading-font-weight:bolder;
  --rs-heading-color:inherit;
  --rs-heading-h1-font-size:var(--rs-font-size-5xl);
  --rs-heading-h2-font-size:var(--rs-font-size-4xl);
  --rs-heading-h3-font-size:var(--rs-font-size-3xl);
  --rs-heading-h4-font-size:var(--rs-font-size-2xl);
  --rs-heading-h5-font-size:var(--rs-font-size-xl);
  --rs-heading-h6-font-size:var(--rs-font-size-lg);
  --rs-heading-h1-line-height:var(--rs-text-line-height-5xl);
  --rs-heading-h2-line-height:var(--rs-text-line-height-4xl);
  --rs-heading-h3-line-height:var(--rs-text-line-height-3xl);
  --rs-heading-h4-line-height:var(--rs-text-line-height-2xl);
  --rs-heading-h5-line-height:var(--rs-text-line-height-xl);
  --rs-heading-h6-line-height:var(--rs-text-line-height-lg);
}

.rs-heading{
  font-family:var(--rs-heading-font-family);
  font-weight:var(--rs-heading-font-weight);
  color:var(--rs-heading-color);
  margin:0;
}
.rs-heading.h1{
  font-size:var(--rs-heading-h1-font-size);
  line-height:var(--rs-heading-h1-line-height);
}
.rs-heading.h2{
  font-size:var(--rs-heading-h2-font-size);
  line-height:var(--rs-heading-h2-line-height);
}
.rs-heading.h3{
  font-size:var(--rs-heading-h3-font-size);
  line-height:var(--rs-heading-h3-line-height);
}
.rs-heading.h4{
  font-size:var(--rs-heading-h4-font-size);
  line-height:var(--rs-heading-h4-line-height);
}
.rs-heading.h5{
  font-size:var(--rs-heading-h5-font-size);
  line-height:var(--rs-heading-h5-line-height);
}
.rs-heading.h6{
  font-size:var(--rs-heading-h6-font-size);
  line-height:var(--rs-heading-h6-line-height);
}