*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-200:#e5e5ea;
  --rs-gray-300:#d9d9d9;
  --rs-gray-400:#b6b7b8;
  --rs-gray-600:#717273;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-primary-200:#A6D7FF;
  --rs-primary-500:#3498ff;
  --rs-primary-900:#004299;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-text-secondary:var(--rs-gray-600);
  --rs-text-disabled:var(--rs-gray-600);
  --rs-radio-tile-border:var(--rs-gray-300);
  --rs-radio-tile-checked-color:var(--rs-primary-500);
  --rs-radio-tile-checked-mark-color:#fff;
  --rs-radio-tile-checked-disabled-color:var(--rs-primary-200);
  --rs-radio-tile-icon-size:32px;
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-200:#a4a9b3;
  --rs-gray-300:#858b94;
  --rs-gray-400:#6a6f76;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-200:#A6E9FF;
  --rs-primary-500:#34c3ff;
  --rs-primary-900:#006199;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-text-secondary:var(--rs-gray-200);
  --rs-text-disabled:var(--rs-gray-400);
  --rs-radio-tile-border:var(--rs-gray-300);
  --rs-radio-tile-checked-color:var(--rs-primary-500);
  --rs-radio-tile-checked-mark-color:var(--rs-gray-800);
  --rs-radio-tile-checked-disabled-color:var(--rs-primary-900);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-200:#a4a9b3;
  --rs-gray-300:#858b94;
  --rs-gray-400:#6a6f76;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-200:#fffa91;
  --rs-primary-500:#ffff00;
  --rs-primary-900:#8f9900;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-text-secondary:var(--rs-gray-200);
  --rs-text-disabled:var(--rs-gray-400);
  --rs-radio-tile-border:var(--rs-gray-300);
  --rs-radio-tile-checked-color:var(--rs-primary-500);
  --rs-radio-tile-checked-mark-color:var(--rs-gray-800);
  --rs-radio-tile-checked-disabled-color:var(--rs-primary-900);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-sm:0.875rem;
  --rs-font-size-md:1rem;
  --rs-line-height-md:calc(20 / 14);
  --rs-spacing:0.25rem;
  --rs-radius-md:0.375rem;
  --rs-cursor-disabled:not-allowed;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
.rs-radio-tile{
  --rs-radio-tile-border-radius:var(--rs-radius-md);
  --rs-radio-tile-padding:calc(var(--rs-spacing) * 2.5);
  --rs-radio-tile-mark-size:48px;
  --rs-radio-tile-spacing:calc(var(--rs-spacing) * 1.5);
  border-radius:var(--rs-radio-tile-border-radius);
  overflow:hidden;
  border:2px solid var(--rs-radio-tile-border);
  padding:var(--rs-radio-tile-padding);
  position:relative;
  cursor:pointer;
  display:flex;
  gap:var(--rs-radio-tile-spacing);
  align-items:center;
}
.rs-radio-tile-label{
  font-weight:bold;
}
.rs-radio-tile-content{
  color:var(--rs-text-secondary);
}
.rs-radio-tile-mark{
  background:var(--rs-radio-tile-checked-color);
  border-end-start-radius:50%;
  height:var(--rs-radio-tile-mark-size);
  width:var(--rs-radio-tile-mark-size);
  position:absolute;
  inset-inline-end:calc(var(--rs-radio-tile-mark-size) / -2);
  top:calc(var(--rs-radio-tile-mark-size) / -2);
  z-index:3;
  opacity:0;
}
.rs-radio-tile-mark-icon{
  position:absolute;
  font-size:var(--rs-font-size-md);
  top:25px;
  inset-inline-start:7px;
  color:var(--rs-radio-tile-checked-mark-color);
}
.rs-radio-tile[data-checked=true] .rs-radio-tile-mark{
  opacity:1;
}
.rs-radio-tile[data-checked=true][data-disabled=true]{
  border-color:var(--rs-radio-tile-checked-disabled-color);
}
.rs-radio-tile[data-checked=true][data-disabled=true] .rs-radio-tile-mark{
  background-color:var(--rs-radio-tile-checked-disabled-color);
}
.rs-radio-tile[data-checked=true], .rs-radio-tile:hover:not([data-disabled=true]){
  border:2px solid var(--rs-radio-tile-checked-color);
}
.rs-radio-tile[data-disabled=true], .rs-radio-tile[data-disabled=true] .rs-radio-tile-content{
  color:var(--rs-text-disabled);
  cursor:var(--rs-cursor-disabled);
}
.rs-radio-tile input{
  opacity:0;
  width:0;
  height:0;
  position:absolute;
}
.rs-radio-tile-icon{
  font-size:var(--rs-radio-tile-icon-size);
}