*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-color-red:#f44336;
  --rs-red-500:#F44336;
  --rs-orange-500:#FA8900;
  --rs-yellow-500:#FFB300;
  --rs-green-500:#4CAF50;
  --rs-cyan-500:#00BCD4;
  --rs-blue-500:#2196F3;
  --rs-violet-500:#673AB7;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-badge-bg:var(--rs-color-red);
  --rs-badge-text:var(--rs-gray-0);
  --rs-badge-border:var(--rs-gray-0);
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-color-red:#f04f43;
  --rs-red-500:#F04F43;
  --rs-orange-500:#FF9800;
  --rs-yellow-500:#FFC757;
  --rs-green-500:#58B15B;
  --rs-cyan-500:#00BCD4;
  --rs-blue-500:#1499EF;
  --rs-violet-500:#673AB7;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-badge-bg:var(--rs-color-red);
  --rs-badge-text:var(--rs-gray-0);
  --rs-badge-border:var(--rs-gray-900);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-color-red:#bd1732;
  --rs-red-500:#BD1732;
  --rs-orange-500:#FF9800;
  --rs-yellow-500:#FFC757;
  --rs-green-500:#0D822C;
  --rs-cyan-500:#00BCD4;
  --rs-blue-500:#1499EF;
  --rs-violet-500:#673AB7;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-badge-bg:var(--rs-red-500);
  --rs-badge-text:var(--rs-gray-0);
  --rs-badge-border:var(--rs-gray-900);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-sm:0.875rem;
  --rs-line-height-md:calc(20 / 14);
  --rs-radius-full:62.5rem;
  --rs-zindex-badge-content:1;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
.rs-badge{
  --rs-badge-font-size-xs:0.625rem;
  --rs-badge-font-size-sm:0.6875rem;
  --rs-badge-font-size-md:0.75rem;
  --rs-badge-font-size-lg:0.875rem;
  --rs-badge-font-size-xl:1rem;
  --rs-badge-line-height-xs:0.875rem;
  --rs-badge-line-height-sm:0.9375rem;
  --rs-badge-line-height-md:1rem;
  --rs-badge-line-height-lg:1.125rem;
  --rs-badge-line-height-xl:1.25rem;
  --rs-badge-one-char-size-xs:1rem;
  --rs-badge-one-char-size-sm:1.125rem;
  --rs-badge-one-char-size-md:1.25rem;
  --rs-badge-one-char-size-lg:1.5rem;
  --rs-badge-one-char-size-xl:1.75rem;
  --rs-badge-dot-size-xs:0.375rem;
  --rs-badge-dot-size-sm:0.5rem;
  --rs-badge-dot-size-md:0.625rem;
  --rs-badge-dot-size-lg:0.75rem;
  --rs-badge-dot-size-xl:0.875rem;
  --rs-badge-offset-x:5%;
  --rs-badge-offset-y:5%;
  --rs-badge-move:var(--rs-badge-offset, 40%);
  --rs-badge-one-char-size:var(--rs-badge-one-char-size-md);
  --rs-badge-dot-size:var(--rs-badge-dot-size-md);
  --rs-badge-font-size:var(--rs-badge-font-size-md);
  --rs-badge-line-height:var(--rs-badge-line-height-md);
  --rs-badge-transform-top-start:translate(calc(-1 * var(--rs-badge-move)), calc(-1 * var(--rs-badge-move)));
  --rs-badge-transform-top-end:translate(var(--rs-badge-move), calc(-1 * var(--rs-badge-move)));
  --rs-badge-transform-bottom-start:translate(calc(-1 * var(--rs-badge-move)), var(--rs-badge-move));
  --rs-badge-transform-bottom-end:translate(var(--rs-badge-move), var(--rs-badge-move));
}

[dir=rtl] .rs-badge{
  --rs-badge-transform-top-start:translate(calc(18px - var(--rs-badge-move)), calc(-1 * var(--rs-badge-move)));
  --rs-badge-transform-top-end:translate(calc(-1 * var(--rs-badge-move)), calc(-1 * var(--rs-badge-move)));
  --rs-badge-transform-bottom-start:translate(calc(18px - var(--rs-badge-move)), var(--rs-badge-move));
  --rs-badge-transform-bottom-end:translate(calc(-1 * var(--rs-badge-move)), var(--rs-badge-move));
}

.rs-badge-wrapper{
  position:relative;
}

.rs-badge{
  display:inline-flex;
}
.rs-badge[data-shape=circle]{
  --rs-badge-offset:30%;
}
.rs-badge:where([data-independent=true]), .rs-badge-content{
  opacity:1;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  background-color:var(--rs-badge-bg);
  color:var(--rs-badge-text);
  border-radius:var(--rs-radius-full);
  font-size:var(--rs-badge-font-size);
  line-height:var(--rs-badge-line-height);
  padding-inline:0.3125rem;
  transition:opacity 0.3s ease-in-out;
}
.rs-badge[data-one-char=true] .rs-badge-content, .rs-badge[data-one-char=true][data-independent=true]{
  width:var(--rs-badge-one-char-size);
  height:var(--rs-badge-one-char-size);
  line-height:var(--rs-badge-one-char-size);
}
.rs-badge-content{
  box-sizing:border-box;
}
.rs-badge[data-hidden=true] .rs-badge-content, .rs-badge[data-hidden=true][data-independent=true]{
  opacity:0;
}
.rs-badge[data-compact=true] .rs-badge-content, .rs-badge[data-compact=true][data-independent=true]{
  padding:0;
}
.rs-badge:empty, .rs-badge-content:empty{
  box-sizing:content-box;
  width:var(--rs-badge-dot-size);
  height:var(--rs-badge-dot-size);
  border-radius:var(--rs-radius-full);
  padding:0;
}
.rs-badge-wrapper .rs-badge-content{
  position:absolute;
  z-index:var(--rs-zindex-badge-content);
}
.rs-badge[data-outline=true] .rs-badge-content{
  border:2px solid var(--rs-badge-border);
}
.rs-badge[data-placement=topStart] .rs-badge-content{
  transform:var(--rs-badge-transform-top-start);
  top:var(--rs-badge-offset-y);
  inset-inline-start:var(--rs-badge-offset-x);
}
.rs-badge[data-placement=topEnd] .rs-badge-content{
  transform:var(--rs-badge-transform-top-end);
  top:var(--rs-badge-offset-y);
  inset-inline-end:var(--rs-badge-offset-x);
}
.rs-badge[data-placement=bottomStart] .rs-badge-content{
  transform:var(--rs-badge-transform-bottom-start);
  bottom:var(--rs-badge-offset-y);
  inset-inline-start:var(--rs-badge-offset-x);
}
.rs-badge[data-placement=bottomEnd] .rs-badge-content{
  transform:var(--rs-badge-transform-bottom-end);
  bottom:var(--rs-badge-offset-y);
  inset-inline-end:var(--rs-badge-offset-x);
}

.rs-badge[data-color=red]{
  --rs-badge-bg:var(--rs-red-500);
}

.rs-badge[data-color=orange]{
  --rs-badge-bg:var(--rs-orange-500);
}

.rs-badge[data-color=yellow]{
  --rs-badge-bg:var(--rs-yellow-500);
}

.rs-badge[data-color=green]{
  --rs-badge-bg:var(--rs-green-500);
}

.rs-badge[data-color=cyan]{
  --rs-badge-bg:var(--rs-cyan-500);
}

.rs-badge[data-color=blue]{
  --rs-badge-bg:var(--rs-blue-500);
}

.rs-badge[data-color=violet]{
  --rs-badge-bg:var(--rs-violet-500);
}

.rs-badge[data-color=pink]{
  --rs-badge-bg:var(--rs-pink-500);
}

.rs-badge[data-size=xs]{
  --rs-badge-font-size:var(--rs-badge-font-size-xs);
  --rs-badge-line-height:var(--rs-badge-line-height-xs);
  --rs-badge-one-char-size:var(--rs-badge-one-char-size-xs);
  --rs-badge-dot-size:var(--rs-badge-dot-size-xs);
}

.rs-badge[data-size=sm]{
  --rs-badge-font-size:var(--rs-badge-font-size-sm);
  --rs-badge-line-height:var(--rs-badge-line-height-sm);
  --rs-badge-one-char-size:var(--rs-badge-one-char-size-sm);
  --rs-badge-dot-size:var(--rs-badge-dot-size-sm);
}

.rs-badge[data-size=md]{
  --rs-badge-font-size:var(--rs-badge-font-size-md);
  --rs-badge-line-height:var(--rs-badge-line-height-md);
  --rs-badge-one-char-size:var(--rs-badge-one-char-size-md);
  --rs-badge-dot-size:var(--rs-badge-dot-size-md);
}

.rs-badge[data-size=lg]{
  --rs-badge-font-size:var(--rs-badge-font-size-lg);
  --rs-badge-line-height:var(--rs-badge-line-height-lg);
  --rs-badge-one-char-size:var(--rs-badge-one-char-size-lg);
  --rs-badge-dot-size:var(--rs-badge-dot-size-lg);
}

.rs-badge[data-size=xl]{
  --rs-badge-font-size:var(--rs-badge-font-size-xl);
  --rs-badge-line-height:var(--rs-badge-line-height-xl);
  --rs-badge-one-char-size:var(--rs-badge-one-char-size-xl);
  --rs-badge-dot-size:var(--rs-badge-dot-size-xl);
}