*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-100:#f2f2f5;
  --rs-gray-200:#e5e5ea;
  --rs-gray-600:#717273;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-border-primary:var(--rs-gray-200);
  --rs-card-bg:var(--rs-gray-0);
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-100:#cbced4;
  --rs-gray-200:#a4a9b3;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-border-primary:var(--rs-gray-600);
  --rs-card-bg:var(--rs-gray-900);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-100:#cbced4;
  --rs-gray-200:#a4a9b3;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-border-primary:var(--rs-gray-100);
  --rs-card-bg:var(--rs-gray-900);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-sm:0.875rem;
  --rs-line-height-md:calc(20 / 14);
  --rs-spacing:0.25rem;
  --rs-radius-md:0.375rem;
  --rs-shadow-color:rgb(0 0 0 / 10%);
  --rs-shadow-md:0 4px 6px -1px var(--rs-shadow-color), 0 2px 4px 0 var(--rs-shadow-color);
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
.rs-card{
  --rs-card-width:100%;
  --rs-card-padding:calc(var(--rs-spacing) * 4);
  --rs-card-shadow:var(--rs-shadow-md);
  display:flex;
  flex-direction:column;
  border-radius:var(--rs-radius-md);
  overflow:hidden;
  box-sizing:border-box;
  position:relative;
  width:var(--rs-card-width);
}
.rs-card[data-bordered=true]{
  border:1px solid var(--rs-border-primary);
  background-color:var(--rs-card-bg);
}
.rs-card[data-shaded=true],.rs-card[data-shaded=hover]:hover{
  box-shadow:var(--rs-card-shadow);
}
.rs-card[data-shaded=hover]:hover{
  cursor:pointer;
}
.rs-card[data-size=sm]{
  --rs-card-padding:calc(var(--rs-spacing) * 2);
}
.rs-card[data-size=md]{
  --rs-card-padding:calc(var(--rs-spacing) * 4);
}
.rs-card[data-size=lg]{
  --rs-card-padding:calc(var(--rs-spacing) * 6);
}
.rs-card[data-direction=row]{
  flex-direction:row;
}
.rs-card-header{
  padding:var(--rs-card-padding) var(--rs-card-padding) 0 var(--rs-card-padding);
}
.rs-card-body{
  padding:var(--rs-card-padding);
}
.rs-card-footer{
  display:flex;
  gap:8px;
  padding:0 var(--rs-card-padding) var(--rs-card-padding) var(--rs-card-padding);
}