*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-100:#f2f2f5;
  --rs-gray-600:#717273;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-primary-500:#3498ff;
  --rs-yellow-500:#FFB300;
  --rs-blue-500:#2196F3;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-rate-symbol:var(--rs-gray-600);
  --rs-rate-color:var(--rs-blue-500);
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-100:#cbced4;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-500:#34c3ff;
  --rs-yellow-500:#FFC757;
  --rs-blue-500:#1499EF;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-rate-symbol:var(--rs-gray-600);
  --rs-rate-color:var(--rs-yellow-500);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-100:#cbced4;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-500:#ffff00;
  --rs-yellow-500:#FFC757;
  --rs-blue-500:#1499EF;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-rate-symbol:var(--rs-gray-100);
  --rs-rate-color:var(--rs-primary-500);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-sm:0.875rem;
  --rs-font-size-lg:1.125rem;
  --rs-font-size-2xl:1.5rem;
  --rs-font-size-3xl:1.875rem;
  --rs-font-size-4xl:2.25rem;
  --rs-font-size-5xl:3rem;
  --rs-line-height-md:calc(20 / 14);
  --rs-spacing:0.25rem;
  --rs-cursor-disabled:not-allowed;
  --rs-zindex-rate-character-before:1;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
.rs-rate{
  --rs-rate-size-xs:var(--rs-font-size-lg);
  --rs-rate-size-sm:var(--rs-font-size-2xl);
  --rs-rate-size-md:var(--rs-font-size-3xl);
  --rs-rate-size-lg:var(--rs-font-size-4xl);
  --rs-rate-size-xl:var(--rs-font-size-5xl);
  --rs-rate-size:var(--rs-rate-size-md);
  --rs-rate-before-size:50%;
  position:relative;
  display:inline-flex;
  color:var(--rs-rate-color);
  font-size:var(--rs-rate-size);
  list-style:none;
  vertical-align:middle;
  margin:0;
  padding:0;
  gap:calc(var(--rs-spacing) * 2);
}
.rs-rate-character{
  position:relative;
  cursor:pointer;
  outline:none;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
  width:-moz-max-content;
  width:max-content;
  height:-moz-max-content;
  height:max-content;
}
.rs-rate-character-before{
  position:absolute;
  width:var(--rs-rate-before-size);
  height:100%;
  overflow:hidden;
  opacity:0;
}
.rs-rate-character-after{
  color:var(--rs-rate-symbol);
  filter:grayscale(1);
}
.high-contrast-mode .rs-rate-character-after > .rs-icon{
  fill:none;
  stroke:currentColor;
}

.rs-rate-character-before, .rs-rate-character-after{
  display:flex;
  z-index:var(--rs-zindex-rate-character-before);
}
.rs-rate-character-before > .rs-icon, .rs-rate-character-after > .rs-icon{
  font-size:inherit;
}
.rs-rate-character:where([data-status=half]) .rs-rate-character-before, .rs-rate-character:where([data-status=frac]) .rs-rate-character-before{
  opacity:1;
  filter:none;
}
.rs-rate-character:where([data-status=full]) .rs-rate-character-after{
  color:inherit;
  filter:none;
}
.rs-rate-character:where([data-status=full]) .rs-rate-character-after > .rs-icon{
  fill:currentColor;
}
.rs-rate-character-vertical{
  width:100%;
  height:var(--rs-rate-before-size);
  flex-direction:column-reverse;
  bottom:0;
}
.rs-rate-character .rs-icon,
.rs-rate-character svg{
  height:1em;
  width:1em;
}
.rs-rate-character-before .rs-icon,
.rs-rate-character-before svg{
  position:absolute;
}
.rs-rate-character:hover{
  transform:scale(1.1);
}
.rs-rate-character:active{
  transform:scale(1);
}
.rs-rate:where([data-disabled=true]){
  cursor:var(--rs-cursor-disabled);
  opacity:0.5;
  outline:none;
}
.rs-rate:where([data-disabled=true]) .rs-rate-character{
  pointer-events:none;
}
.rs-rate:where([data-readonly=true]) .rs-rate-character{
  cursor:default;
  pointer-events:none;
}
.rs-rate.rs-rate-xl{
  --rs-rate-size:var(--rs-rate-size-xl);
}
.rs-rate.rs-rate-lg{
  --rs-rate-size:var(--rs-rate-size-lg);
}
.rs-rate.rs-rate-md{
  --rs-rate-size:var(--rs-rate-size-md);
}
.rs-rate.rs-rate-sm{
  --rs-rate-size:var(--rs-rate-size-sm);
}
.rs-rate.rs-rate-xs{
  --rs-rate-size:var(--rs-rate-size-xs);
}
.rs-rate.rs-rate-primary{
  --rs-rate-color:var(--rs-primary-500);
}
.rs-rate.rs-rate-secondary{
  --rs-rate-color:var(--rs-secondary-500);
}
.rs-rate.rs-rate-success{
  --rs-rate-color:var(--rs-success-500);
}
.rs-rate.rs-rate-warning{
  --rs-rate-color:var(--rs-warning-500);
}
.rs-rate.rs-rate-error{
  --rs-rate-color:var(--rs-error-500);
}
.rs-rate.rs-rate-info{
  --rs-rate-color:var(--rs-info-500);
}