*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-200:#e5e5ea;
  --rs-gray-600:#717273;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-primary-500:#3498ff;
  --rs-primary-700:#1675E0;
  --rs-color-red:#f44336;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-text-secondary:var(--rs-gray-600);
  --rs-text-inverse:var(--rs-gray-50);
  --rs-text-error:var(--rs-color-red);
  --rs-steps-border:var(--rs-gray-600);
  --rs-steps-state-finish:var(--rs-primary-500);
  --rs-steps-state-process:var(--rs-primary-500);
  --rs-steps-state-error:var(--rs-color-red);
  --rs-steps-border-state-error:var(--rs-color-red);
  --rs-steps-icon-state-process:var(--rs-primary-500);
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-200:#a4a9b3;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-500:#34c3ff;
  --rs-primary-700:#169DE0;
  --rs-color-red:#f04f43;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-text-secondary:var(--rs-gray-200);
  --rs-text-inverse:var(--rs-gray-800);
  --rs-steps-border:var(--rs-gray-200);
  --rs-steps-state-finish:var(--rs-primary-500);
  --rs-steps-state-process:var(--rs-primary-700);
  --rs-steps-state-error:var(--rs-color-red);
  --rs-steps-border-state-error:var(--rs-color-red);
  --rs-steps-icon-state-process:var(--rs-primary-500);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-200:#a4a9b3;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-500:#ffff00;
  --rs-primary-700:#d9e000;
  --rs-color-red:#bd1732;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-text-secondary:var(--rs-gray-200);
  --rs-text-inverse:var(--rs-gray-800);
  --rs-steps-border:var(--rs-gray-200);
  --rs-steps-state-finish:var(--rs-primary-500);
  --rs-steps-state-process:var(--rs-primary-700);
  --rs-steps-state-error:var(--rs-color-red);
  --rs-steps-border-state-error:var(--rs-color-red);
  --rs-steps-icon-state-process:var(--rs-primary-500);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-xs:0.75rem;
  --rs-font-size-sm:0.875rem;
  --rs-font-size-md:1rem;
  --rs-line-height-sm:calc(20 / 12);
  --rs-line-height-md:calc(20 / 14);
  --rs-spacing:0.25rem;
  --rs-radius-full:62.5rem;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
.rs-steps{
  --rs-steps-icon-size:1.875rem;
  --rs-steps-icon-font-size:var(--rs-font-size-md);
  --rs-steps-title-font-size:var(--rs-font-size-md);
  --rs-steps-title-line-height:calc(30 / 16);
  --rs-steps-title-min-height:1rem;
  --rs-steps-item-spacing:calc(var(--rs-spacing) * 10);
  --rs-steps-description-margin-top:calc(var(--rs-spacing) * 3);
  --rs-steps-description-font-size:var(--rs-font-size-sm);
  --rs-steps-description-line-height:var(--rs-line-height-md);
  min-height:var(--rs-steps-icon-size);
}
.rs-steps[data-size=small]{
  --rs-steps-icon-size:1.5rem;
  --rs-steps-icon-font-size:var(--rs-font-size-sm);
  --rs-steps-item-spacing:calc(var(--rs-spacing) * 8.5);
  --rs-steps-title-font-size:var(--rs-font-size-sm);
  --rs-steps-title-line-height:calc(24 / 14);
  --rs-steps-description-font-size:var(--rs-font-size-xs);
  --rs-steps-description-line-height:var(--rs-line-height-sm);
}
.rs-steps .rs-steps-item-content{
  color:var(--rs-text-secondary);
  display:inline-block;
  position:relative;
  width:100%;
}
.rs-steps .rs-steps-item[data-status=process] .rs-steps-item-content{
  color:var(--rs-text-primary);
}
.rs-steps .rs-steps-item[data-status=error] .rs-steps-item-content{
  color:var(--rs-text-error);
}
.rs-steps .rs-steps-item-title{
  position:relative;
  font-size:var(--rs-steps-title-font-size);
  line-height:var(--rs-steps-title-line-height);
  min-height:var(--rs-steps-title-min-height);
  padding-inline-end:calc(var(--rs-spacing) * 2.5);
  display:inline-block;
}
.rs-steps .rs-steps-item-title:empty{
  padding-inline-end:0;
}
.rs-steps .rs-steps-item-description{
  margin-top:var(--rs-steps-description-margin-top);
  font-size:var(--rs-steps-description-font-size);
  line-height:var(--rs-steps-description-line-height);
}

.rs-steps-item{
  padding-inline-start:var(--rs-steps-item-spacing);
  position:relative;
  overflow:hidden;
}

.rs-steps-item-icon-wrapper{
  width:var(--rs-steps-icon-size);
  height:var(--rs-steps-icon-size);
  font-size:var(--rs-steps-icon-font-size);
  color:var(--rs-text-secondary);
  text-align:center;
  position:absolute;
  top:0;
  inset-inline-start:0;
  display:flex;
  align-items:center;
  border:1px solid var(--rs-steps-border);
  border-radius:var(--rs-radius-full);
}
.rs-steps-item:where([data-status=finish]) .rs-steps-item-icon-wrapper{
  border-color:var(--rs-steps-state-finish);
  color:var(--rs-steps-state-finish);
}
.rs-steps-item:where([data-status=error]) .rs-steps-item-icon-wrapper{
  border-color:var(--rs-steps-state-error);
  color:var(--rs-steps-state-error);
}
.rs-steps-item:where([data-status=process]) .rs-steps-item-icon-wrapper{
  border-color:var(--rs-steps-state-process);
  background-color:var(--rs-steps-state-process);
  color:var(--rs-text-inverse);
}
.rs-steps-item:where([data-status=process]) .rs-steps-item-icon-wrapper .rs-icon,
.rs-steps-item:where([data-status=process]) .rs-steps-item-icon-wrapper svg{
  color:var(--rs-steps-icon-state-process);
}
.rs-steps-item[data-custom-icon=true] .rs-steps-item-icon-wrapper{
  border:none;
  background:none;
}
.rs-steps-item-icon-wrapper > .rs-steps-item-icon{
  width:100%;
  display:flex;
  justify-content:center;
  text-align:center;
  position:relative;
}
.rs-steps-item-icon-wrapper > .rs-steps-item-icon .rs-icon{
  font-size:var(--rs-font-size-md);
  vertical-align:middle;
}

.rs-steps-item-tail,
.rs-steps-item-title::after{
  position:absolute;
  border-color:var(--rs-steps-border);
}
.rs-steps-item:where([data-status=process]) .rs-steps-item-tail,
.rs-steps-item:where([data-status=process]) .rs-steps-item-title::after{
  border-color:var(--rs-steps-border);
}
.rs-steps-item:where([data-status=finish]) .rs-steps-item-tail,
.rs-steps-item:where([data-status=finish]) .rs-steps-item-title::after{
  border-color:var(--rs-steps-state-finish);
}
.rs-steps-item[data-next-error=true] .rs-steps-item-tail,
.rs-steps-item[data-next-error=true] .rs-steps-item-title::after{
  border-color:var(--rs-steps-border-state-error);
}

.rs-steps[data-direction=horizontal]{
  display:flex;
  justify-content:space-between;
}
.rs-steps[data-direction=horizontal] .rs-steps-item{
  flex-grow:1;
  flex-shrink:1;
  min-height:var(--rs-steps-icon-size);
}
.rs-steps[data-direction=horizontal] .rs-steps-item:last-child{
  flex-grow:0;
  flex-shrink:0;
}
.rs-steps[data-direction=horizontal] .rs-steps-item:last-child .rs-steps-item-title::after{
  display:none;
}
.rs-steps[data-direction=horizontal] .rs-steps-item:not(:first-child){
  padding-inline-start:calc(var(--rs-steps-icon-size) + var(--rs-spacing) * 5);
}
.rs-steps[data-direction=horizontal] .rs-steps-item:not(:first-child) .rs-steps-item-icon-wrapper{
  inset-inline-start:calc(var(--rs-spacing) * 2.5);
}
.rs-steps[data-direction=horizontal] .rs-steps-item-title::after{
  content:"";
  top:calc(var(--rs-steps-icon-size) / 2);
  inset-inline-start:100%;
  width:9999px;
  border-top-width:1px;
  border-top-style:solid;
}

.rs-steps[data-direction=vertical] .rs-steps-item{
  padding-bottom:calc(var(--rs-spacing) * 5);
}
.rs-steps[data-direction=vertical] .rs-steps-item:not(:first-child){
  margin-top:calc(var(--rs-spacing) * 2.5);
}
.rs-steps[data-direction=vertical] .rs-steps-item:last-child .rs-steps-item-tail{
  display:none;
}
.rs-steps[data-direction=vertical] .rs-steps-item-tail{
  top:var(--rs-steps-item-spacing);
  bottom:0;
  inset-inline-start:calc(var(--rs-steps-icon-size) / 2);
  border-left-width:1px;
  border-left-style:solid;
}