@charset "UTF-8";
*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-400:#b6b7b8;
  --rs-gray-500:#939393;
  --rs-gray-600:#717273;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-primary-50:#F2FAFF;
  --rs-primary-100:#CCE9FF;
  --rs-primary-500:#3498ff;
  --rs-primary-700:#1675E0;
  --rs-primary-900:#004299;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-focus-ring-color:rgb(from var(--rs-primary-500) r g b / 25%);
  --rs-listbox-option-hover-bg:rgb(from var(--rs-primary-100) r g b / 50%);
  --rs-listbox-option-hover-text:var(--rs-primary-700);
  --rs-listbox-option-selected-text:var(--rs-primary-700);
  --rs-listbox-option-selected-bg:var(--rs-primary-50);
  --rs-listbox-option-disabled-text:var(--rs-gray-400);
}
@supports not (color: rgb(from white r g b)){
  :root{
    --rs-focus-ring-color:rgba(52, 152, 255, 0.25);
    --rs-listbox-option-hover-bg:rgba(#CCE9FF, 0.5);
  }
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-400:#6a6f76;
  --rs-gray-500:#5c6066;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-50:#F2FCFF;
  --rs-primary-100:#CCF3FF;
  --rs-primary-500:#34c3ff;
  --rs-primary-700:#169DE0;
  --rs-primary-900:#006199;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-listbox-option-hover-bg:var(--rs-gray-600);
  --rs-listbox-option-hover-text:currentColor;
  --rs-listbox-option-selected-text:var(--rs-primary-500);
  --rs-listbox-option-selected-bg:rgb(from var(--rs-primary-900) r g b / 20%);
  --rs-listbox-option-disabled-text:var(--rs-gray-500);
}
@supports not (color: rgb(from white r g b)){
  [data-theme=dark],
  .rs-theme-dark{
    --rs-listbox-option-selected-bg:rgba(#006199, 0.2);
  }
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-400:#6a6f76;
  --rs-gray-500:#5c6066;
  --rs-gray-600:#3c3f43;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-50:#fffef2;
  --rs-primary-100:#fffbc2;
  --rs-primary-500:#ffff00;
  --rs-primary-700:#d9e000;
  --rs-primary-900:#8f9900;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-focus-ring-color:var(--rs-gray-0);
  --rs-listbox-option-hover-bg:transparent;
  --rs-listbox-option-hover-text:var(--rs-primary-500);
  --rs-listbox-option-selected-text:var(--rs-primary-500);
  --rs-listbox-option-selected-bg:transparent;
  --rs-listbox-option-disabled-text:var(--rs-gray-500);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-sm:0.875rem;
  --rs-line-height-base:20px;
  --rs-line-height-md:calc(20 / 14);
  --rs-spacing:0.25rem;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
.rs-cascade-search-view-panel{
  --rs-cascader-search-panel-max-height:300px;
  max-height:var(--rs-cascader-search-panel-max-height);
  margin-top:6px;
  overflow:auto;
}

.rs-cascade-search-view-row{
  display:flex;
  justify-content:flex-start;
  padding-inline:var(--rs-picker-item-content-padding-horizontal);
  padding-block:var(--rs-picker-item-content-padding-vertical);
  clear:both;
  font-weight:normal;
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  cursor:pointer;
  text-decoration:none;
  width:100%;
}
.rs-cascade-search-view-row:hover{
  background-color:var(--rs-listbox-option-hover-bg);
  color:var(--rs-listbox-option-hover-text);
}
[data-theme=high-contrast] .rs-cascade-search-view-row:hover, .rs-theme-high-contrast .rs-cascade-search-view-row:hover{
  outline:2px solid var(--rs-focus-ring-color);
  outline-offset:-1px;
  outline-offset:-3px;
  outline-width:2px;
  color:var(--rs-listbox-option-hover-text);
  text-decoration:underline;
}
.rs-cascade-search-view-row.rs-cascade-search-view-row-focus{
  background-color:var(--rs-listbox-option-hover-bg);
  color:var(--rs-listbox-option-hover-text);
}
[data-theme=high-contrast] .rs-cascade-search-view-row.rs-cascade-search-view-row-focus, .rs-theme-high-contrast .rs-cascade-search-view-row.rs-cascade-search-view-row-focus{
  outline:2px solid var(--rs-focus-ring-color);
  outline-offset:-1px;
  outline-offset:-3px;
  outline-width:2px;
  color:var(--rs-listbox-option-hover-text);
  text-decoration:underline;
}
.rs-cascade-search-view-row:disabled, .rs-cascade-search-view-row.rs-cascade-search-view-row-disabled{
  color:var(--rs-listbox-option-disabled-text);
  background:none;
  cursor:not-allowed;
}

.rs-cascade-search-view-col{
  display:inline-block;
}
.rs-cascade-search-view-col::after{
  content:" / ";
}
.rs-cascade-search-view-col:last-child::after{
  display:none;
}

.rs-cascade-tree .rs-highlight-mark{
  padding:0;
}

.rs-cascade-tree-items{
  padding:6px 0;
  display:flex;
}
.rs-cascade-tree-items ul,
.rs-cascade-tree-items li{
  margin:0;
  padding:0;
  list-style:none;
  font-size:var(--rs-font-size-sm);
}

.rs-cascade-tree-column{
  overflow-y:auto;
  overflow-x:hidden;
}
.rs-cascade-tree-column-loading{
  padding:4px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rs-cascade-tree-column-loading .rs-icon{
  margin:4px;
}

.rs-cascade-tree-item{
  display:flex;
  justify-content:space-between;
  padding-inline:var(--rs-picker-item-content-padding-horizontal);
  padding-block:var(--rs-picker-item-content-padding-vertical);
  clear:both;
  font-weight:normal;
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  cursor:pointer;
  text-decoration:none;
  width:100%;
  position:relative;
  word-break:break-word;
}
.rs-cascade-tree-item:hover, .rs-cascade-tree-item:focus, .rs-cascade-tree-item.rs-cascade-tree-item-focus{
  background-color:var(--rs-listbox-option-hover-bg);
  color:var(--rs-listbox-option-hover-text);
}
[data-theme=high-contrast] .rs-cascade-tree-item:hover, .rs-theme-high-contrast .rs-cascade-tree-item:hover, [data-theme=high-contrast] .rs-cascade-tree-item:focus, .rs-theme-high-contrast .rs-cascade-tree-item:focus, [data-theme=high-contrast] .rs-cascade-tree-item.rs-cascade-tree-item-focus, .rs-theme-high-contrast .rs-cascade-tree-item.rs-cascade-tree-item-focus{
  outline:2px solid var(--rs-focus-ring-color);
  outline-offset:-1px;
  outline-offset:-3px;
  outline-width:2px;
  color:var(--rs-listbox-option-hover-text);
  text-decoration:underline;
}
.rs-cascade-tree-item.rs-cascade-tree-item-active{
  background-color:var(--rs-listbox-option-selected-bg);
  font-weight:bold;
  color:var(--rs-listbox-option-selected-text);
}
[data-theme=high-contrast] .rs-cascade-tree-item.rs-cascade-tree-item-active, .rs-theme-high-contrast .rs-cascade-tree-item.rs-cascade-tree-item-active{
  text-decoration:underline;
}
.rs-cascade-tree-item.rs-cascade-tree-item-active .rs-cascade-tree-caret{
  color:var(--rs-text-primary);
}
.rs-cascade-tree-item:disabled, .rs-cascade-tree-item.rs-cascade-tree-item-disabled{
  color:var(--rs-listbox-option-disabled-text);
  background:none;
  cursor:not-allowed;
}
.rs-cascade-tree-item-label{
  display:inline-flex;
  align-items:center;
  gap:var(--rs-spacing);
}

.rs-cascade-tree-caret{
  display:inline-flex;
  align-items:center;
  height:var(--rs-line-height-base);
  font-size:var(--rs-font-size-sm);
  font-size:var(--rs-font-size-sm);
}