*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-200:#e5e5ea;
  --rs-gray-600:#717273;
  --rs-gray-700:#575757;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-kbd-bg:var(--rs-gray-50);
  --rs-kbd-text:var(--rs-gray-800);
  --rs-kbd-border:var(--rs-gray-200);
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-200:#a4a9b3;
  --rs-gray-600:#3c3f43;
  --rs-gray-700:#292d33;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-kbd-bg:var(--rs-gray-600);
  --rs-kbd-text:var(--rs-gray-50);
  --rs-kbd-border:var(--rs-gray-700);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-200:#a4a9b3;
  --rs-gray-600:#3c3f43;
  --rs-gray-700:#292d33;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-kbd-bg:var(--rs-gray-600);
  --rs-kbd-text:var(--rs-gray-50);
  --rs-kbd-border:var(--rs-gray-700);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-family-monospace:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --rs-font-size-2xs:0.625rem;
  --rs-font-size-xs:0.75rem;
  --rs-font-size-sm:0.875rem;
  --rs-font-size-md:1rem;
  --rs-line-height-md:calc(20 / 14);
  --rs-radius-sm:0.25rem;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
:root{
  --rs-kbd-font-size-xs:var(--rs-font-size-2xs);
  --rs-kbd-font-size-sm:var(--rs-font-size-xs);
  --rs-kbd-font-size-md:var(--rs-font-size-sm);
  --rs-kbd-font-size-lg:var(--rs-font-size-md);
  --rs-kbd-letter-spacing-xs:0.0025em;
  --rs-kbd-letter-spacing-sm:0em;
  --rs-kbd-letter-spacing-md:0em;
  --rs-kbd-letter-spacing-lg:-0.0025em;
  --rs-kbd-font-family:var(--rs-font-family-monospace);
  --rs-kbd-font-size:var(--rs-kbd-font-size-md);
  --rs-kbd-letter-spacing:var(--rs-kbd-letter-spacing-md);
}

.rs-kbd{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  vertical-align:middle;
  flex-shrink:0;
  white-space:nowrap;
  word-spacing:-0.4em;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
  border-radius:var(--rs-radius-sm);
  line-height:1.7em;
  padding-inline-start:0.5em;
  padding-inline-end:0.5em;
  padding-bottom:0.05em;
  height:-moz-fit-content;
  height:fit-content;
  box-sizing:border-box;
  background-color:var(--rs-kbd-bg);
  border:solid 1px var(--rs-kbd-border);
  box-shadow:inset 0 -1px 0 var(--rs-kbd-border);
  color:var(--rs-kbd-text);
  font-family:var(--rs-kbd-font-family);
  font-size:var(--rs-kbd-font-size);
  letter-spacing:var(--rs-kbd-letter-spacing);
}
.rs-kbd-lg{
  --rs-kbd-font-size:var(--rs-kbd-font-size-lg);
  --rs-kbd-letter-spacing:var(--rs-kbd-letter-spacing-lg);
}
.rs-kbd-md{
  --rs-kbd-font-size:var(--rs-kbd-font-size-md);
  --rs-kbd-letter-spacing:var(--rs-kbd-letter-spacing-md);
}
.rs-kbd-sm{
  --rs-kbd-font-size:var(--rs-kbd-font-size-sm);
  --rs-kbd-letter-spacing:var(--rs-kbd-letter-spacing-sm);
}
.rs-kbd-xs{
  --rs-kbd-font-size:var(--rs-kbd-font-size-xs);
  --rs-kbd-letter-spacing:var(--rs-kbd-letter-spacing-xs);
}