*[class*=rs-],*[class*=rs-]::before, *[class*=rs-]::after{
  box-sizing:border-box;
}

html{
  -webkit-tap-highlight-color:transparent;
  font-size:16px;
}

body{
  font-family:var(--rs-font-family-base);
  font-size:var(--rs-font-size-sm);
  line-height:var(--rs-line-height-md);
  color:var(--rs-text-primary);
  background-color:var(--rs-body);
}
:root{
  --rs-gray-0:#fff;
  --rs-gray-50:#f7f7fa;
  --rs-gray-100:#f2f2f5;
  --rs-gray-200:#e5e5ea;
  --rs-gray-400:#b6b7b8;
  --rs-gray-500:#939393;
  --rs-gray-600:#717273;
  --rs-gray-700:#575757;
  --rs-gray-800:#343434;
  --rs-gray-900:#121212;
  --rs-primary-200:#A6D7FF;
  --rs-primary-400:#59AFFF;
  --rs-primary-500:#3498ff;
  --rs-body:var(--rs-gray-0);
  --rs-text-primary:var(--rs-gray-800);
  --rs-text-disabled:var(--rs-gray-600);
  --rs-border-primary:var(--rs-gray-200);
  --rs-focus-ring-color:rgb(from var(--rs-primary-500) r g b / 25%);
  --rs-btn-default-bg:var(--rs-gray-50);
  --rs-btn-subtle-text:var(--rs-gray-800);
  --rs-btn-subtle-hover-bg:var(--rs-gray-200);
  --rs-btn-subtle-hover-text:var(--rs-gray-800);
  --rs-btn-subtle-active-bg:var(--rs-gray-200);
  --rs-btn-subtle-active-text:var(--rs-gray-900);
  --rs-btn-subtle-disabled-text:var(--rs-gray-400);
  --rs-input-bg:var(--rs-gray-0);
  --rs-input-focus-border:var(--rs-primary-500);
  --rs-input-disabled-bg:var(--rs-gray-50);
}
@supports not (color: rgb(from white r g b)){
  :root{
    --rs-focus-ring-color:rgba(52, 152, 255, 0.25);
  }
}

[data-theme=dark],
.rs-theme-dark{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-100:#cbced4;
  --rs-gray-200:#a4a9b3;
  --rs-gray-400:#6a6f76;
  --rs-gray-500:#5c6066;
  --rs-gray-600:#3c3f43;
  --rs-gray-700:#292d33;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-200:#A6E9FF;
  --rs-primary-400:#59D0FF;
  --rs-primary-500:#34c3ff;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-text-disabled:var(--rs-gray-400);
  --rs-border-primary:var(--rs-gray-600);
  --rs-btn-default-bg:var(--rs-gray-600);
  --rs-btn-subtle-text:var(--rs-gray-200);
  --rs-btn-subtle-hover-bg:var(--rs-gray-500);
  --rs-btn-subtle-hover-text:var(--rs-gray-50);
  --rs-btn-subtle-active-bg:var(--rs-gray-400);
  --rs-btn-subtle-active-text:var(--rs-gray-0);
  --rs-btn-subtle-disabled-text:var(--rs-gray-500);
  --rs-input-bg:var(--rs-gray-800);
  --rs-input-focus-border:var(--rs-primary-500);
  --rs-input-disabled-bg:var(--rs-gray-700);
}

[data-theme=high-contrast],
.rs-theme-high-contrast{
  --rs-gray-0:#fff;
  --rs-gray-50:#e9ebf0;
  --rs-gray-100:#cbced4;
  --rs-gray-200:#a4a9b3;
  --rs-gray-400:#6a6f76;
  --rs-gray-500:#5c6066;
  --rs-gray-600:#3c3f43;
  --rs-gray-700:#292d33;
  --rs-gray-800:#1a1d24;
  --rs-gray-900:#0f131a;
  --rs-primary-200:#fffa91;
  --rs-primary-400:#fffc30;
  --rs-primary-500:#ffff00;
  --rs-body:var(--rs-gray-900);
  --rs-text-primary:var(--rs-gray-50);
  --rs-text-disabled:var(--rs-gray-400);
  --rs-border-primary:var(--rs-gray-100);
  --rs-focus-ring-color:var(--rs-gray-0);
  --rs-btn-default-bg:transparent;
  --rs-btn-subtle-text:var(--rs-primary-500);
  --rs-btn-subtle-hover-bg:transparent;
  --rs-btn-subtle-hover-text:var(--rs-primary-400);
  --rs-btn-subtle-active-bg:transparent;
  --rs-btn-subtle-active-text:var(--rs-primary-200);
  --rs-btn-subtle-disabled-text:var(--rs-gray-500);
  --rs-input-bg:var(--rs-gray-800);
  --rs-input-focus-border:var(--rs-primary-500);
  --rs-input-disabled-bg:var(--rs-gray-700);
}

:root{
  --rs-font-family-base:-apple-system, BlinkMacSystemFont, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  --rs-font-size-xs:0.75rem;
  --rs-font-size-sm:0.875rem;
  --rs-font-size-md:1rem;
  --rs-line-height-base:20px;
  --rs-line-height-plus:22px;
  --rs-line-height-md:calc(20 / 14);
  --rs-spacing:0.25rem;
  --rs-spacing-inline-xs:8px;
  --rs-spacing-block-xs:2px;
  --rs-spacing-inline-sm:10px;
  --rs-spacing-block-sm:5px;
  --rs-spacing-inline-lg:16px;
  --rs-spacing-block-lg:10px;
  --rs-padding-inline-md:12px;
  --rs-padding-block-md:8px;
  --rs-radius-none:0;
  --rs-radius-md:0.375rem;
}

@media (max-width: calc(576px - 1px)){
  [data-visible-from=xs]{
    display:none !important;
  }
}
@media (min-width: 576px){
  [data-hidden-from=xs]{
    display:none !important;
  }
}
@media (max-width: calc(768px - 1px)){
  [data-visible-from=sm]{
    display:none !important;
  }
}
@media (min-width: 768px){
  [data-hidden-from=sm]{
    display:none !important;
  }
}
@media (max-width: calc(992px - 1px)){
  [data-visible-from=md]{
    display:none !important;
  }
}
@media (min-width: 992px){
  [data-hidden-from=md]{
    display:none !important;
  }
}
@media (max-width: calc(1200px - 1px)){
  [data-visible-from=lg]{
    display:none !important;
  }
}
@media (min-width: 1200px){
  [data-hidden-from=lg]{
    display:none !important;
  }
}
@media (max-width: calc(1400px - 1px)){
  [data-visible-from=xl]{
    display:none !important;
  }
}
@media (min-width: 1400px){
  [data-hidden-from=xl]{
    display:none !important;
  }
}
.rs-input-group{
  --rs-input-height-xs:calc(var(--rs-line-height-base) + (var(--rs-spacing-block-xs) * 2));
  --rs-input-height-sm:calc(var(--rs-line-height-base) + (var(--rs-spacing-block-sm) * 2));
  --rs-input-height-md:calc(var(--rs-line-height-base) + (var(--rs-padding-block-md) * 2));
  --rs-input-height-lg:calc(var(--rs-line-height-plus) + (var(--rs-spacing-block-lg) * 2));
  --rs-input-group-input-height-xs:calc(var(--rs-input-height-xs) - 2px);
  --rs-input-group-input-height-sm:calc(var(--rs-input-height-sm) - 2px);
  --rs-input-group-input-height-md:calc(var(--rs-input-height-md) - 2px);
  --rs-input-group-input-height-lg:calc(var(--rs-input-height-lg) - 2px);
  --rs-input-group-inside-btn-m-x-xs:calc(var(--rs-spacing-block-xs) / 2);
  --rs-input-group-inside-btn-m-x-sm:calc(var(--rs-spacing-block-sm) / 2);
  --rs-input-group-inside-btn-m-x-md:calc(var(--rs-padding-block-md) / 2);
  --rs-input-group-inside-btn-m-x-lg:calc(var(--rs-spacing-block-lg) / 2);
  --rs-input-group-inside-btn-p-x-xs:calc(var(--rs-spacing-inline-xs) / 2);
  --rs-input-group-inside-btn-p-x-sm:calc(var(--rs-spacing-inline-sm) / 2);
  --rs-input-group-inside-btn-p-x-md:calc(var(--rs-padding-inline-md) / 2);
  --rs-input-group-inside-btn-p-x-lg:calc(var(--rs-spacing-inline-lg) / 2);
  --rs-input-group-border-radius:var(--rs-radius-md);
  --rs-input-group-font-size-xs:var(--rs-font-size-xs);
  --rs-input-group-font-size-sm:var(--rs-font-size-sm);
  --rs-input-group-font-size-md:var(--rs-font-size-sm);
  --rs-input-group-font-size-lg:var(--rs-font-size-md);
  --rs-input-group-width:100%;
  position:relative;
  display:flex;
  border-radius:var(--rs-input-group-border-radius);
  transition:var(--rs-input-transition);
  width:var(--rs-input-group-width);
  cursor:text;
  color:var(--rs-text-primary);
  border:1px solid var(--rs-border-primary);
  overflow:hidden;
}
.rs-input-group[data-size=xs]{
  --rs-input-group-input-height:var(--rs-input-group-input-height-xs);
  --rs-input-group-inside-btn-spacing:var(--rs-input-group-inside-btn-m-x-xs);
  --rs-input-group-inside-btn-padding:var(--rs-input-group-inside-btn-p-x-xs);
  --rs-input-group-font-size:var(--rs-input-group-font-size-xs);
}
.rs-input-group[data-size=sm]{
  --rs-input-group-input-height:var(--rs-input-group-input-height-sm);
  --rs-input-group-inside-btn-spacing:var(--rs-input-group-inside-btn-m-x-sm);
  --rs-input-group-inside-btn-padding:var(--rs-input-group-inside-btn-p-x-sm);
  --rs-input-group-font-size:var(--rs-input-group-font-size-sm);
}
.rs-input-group[data-size=md]{
  --rs-input-group-input-height:var(--rs-input-group-input-height-md);
  --rs-input-group-inside-btn-spacing:var(--rs-input-group-inside-btn-m-x-md);
  --rs-input-group-inside-btn-padding:var(--rs-input-group-inside-btn-p-x-md);
  --rs-input-group-font-size:var(--rs-input-group-font-size-md);
}
.rs-input-group[data-size=lg]{
  --rs-input-group-input-height:var(--rs-input-group-input-height-lg);
  --rs-input-group-inside-btn-spacing:var(--rs-input-group-inside-btn-m-x-lg);
  --rs-input-group-inside-btn-padding:var(--rs-input-group-inside-btn-p-x-lg);
  --rs-input-group-font-size:var(--rs-input-group-font-size-lg);
}
[data-theme=high-contrast] .rs-input-group, .rs-theme-high-contrast .rs-input-group{
  transition:none;
}
.rs-input-group:not([data-disabled=true]).rs-input-group-focus, .rs-input-group:focus-within{
  border-color:var(--rs-input-focus-border);
}
.rs-input-group:not([data-disabled=true]).rs-input-group-focus, .rs-input-group:focus-within{
  outline:2px solid var(--rs-focus-ring-color);
  outline-offset:-1px;
}
.rs-input-group .rs-input-group{
  outline:none !important;
  border-color:transparent !important;
}
.rs-input-group .rs-input-group-btn{
  height:var(--rs-input-group-input-height);
}
.rs-input-group .rs-number-input,
.rs-input-group .rs-input-group-addon,
.rs-input-group .rs-input-group-btn,
.rs-input-group .rs-picker[data-picker=date] .rs-picker-toggle{
  border:none;
  border-radius:var(--rs-radius-none);
  outline:none;
}
.rs-input-group > .rs-input,
.rs-input-group > .rs-form-control-wrapper{
  flex:1 1 auto;
}
.rs-input-group .rs-form-control-wrapper > .rs-input{
  width:100%;
}
.rs-input-group > .rs-input{
  position:relative;
  height:var(--rs-input-group-input-height);
  border:none;
  border-radius:var(--rs-radius-none);
  outline:none;
}
.rs-input-group > .rs-input-group-addon > .rs-icon{
  font-size:inherit;
}
.rs-input-group[data-inside=true]{
  width:var(--rs-input-group-width);
  align-items:center;
  background-color:var(--rs-input-bg);
}
.rs-input-group[data-inside=true] .rs-input{
  display:block;
  width:100%;
  border:none;
  outline:none;
}
.rs-input-group[data-inside=true] .rs-input-group-btn,
.rs-input-group[data-inside=true] .rs-input-group-addon{
  flex:0 0 auto;
  width:auto;
}
.rs-input-group[data-inside=true] .rs-input-group-btn{
  border-radius:var(--rs-input-group-border-radius);
  height:calc(var(--rs-input-group-input-height) - var(--rs-input-group-inside-btn-spacing) * 2);
  margin-inline:var(--rs-input-group-inside-btn-spacing);
  padding-inline:var(--rs-input-group-inside-btn-padding);
  color:var(--rs-btn-subtle-text);
  background-color:transparent;
  color:inherit;
}
.rs-input-group[data-inside=true] .rs-input-group-btn:hover{
  color:var(--rs-btn-subtle-hover-text);
  background-color:var(--rs-btn-subtle-hover-bg);
}
.rs-input-group[data-inside=true] .rs-input-group-btn:active, .rs-input-group[data-inside=true] .rs-input-group-btn[data-active=true]{
  color:var(--rs-btn-subtle-active-text);
  background-color:var(--rs-btn-subtle-active-bg);
}
.rs-input-group[data-inside=true] .rs-input-group-btn:disabled, .rs-input-group[data-inside=true] .rs-input-group-btn[data-disabled=true]{
  color:var(--rs-btn-subtle-disabled-text);
  background:none;
}
.rs-input-group[data-inside=true] .rs-input-group-btn:focus{
  outline:none;
}
.rs-input-group[data-inside=true] .rs-input-group-addon{
  background:none;
  border:none;
}
.rs-input-group[data-inside=true] .rs-input:not(:first-child),
.rs-input-group[data-inside=true] .rs-auto-complete:not(:first-child) .rs-input{
  padding-inline-start:0;
}
.rs-input-group[data-inside=true] .rs-input:not(:last-child),
.rs-input-group[data-inside=true] .rs-auto-complete:not(:last-child) .rs-input{
  padding-inline-end:0;
}

.rs-input-group[data-disabled=true]{
  background-color:var(--rs-input-disabled-bg);
  color:var(--rs-text-disabled);
  cursor:not-allowed;
}
.rs-input-group[data-disabled=true] .rs-input,
.rs-input-group[data-disabled=true] .rs-input-group-btn,
.rs-input-group[data-disabled=true] .rs-input-group-addon{
  color:inherit;
}

.rs-input-group-addon{
  flex:0 0 auto;
  display:flex;
  align-items:center;
  justify-content:center;
  white-space:nowrap;
  vertical-align:middle;
  color:var(--rs-text-primary);
  font-size:var(--rs-input-group-font-size);
  font-weight:normal;
  line-height:1;
  text-align:center;
  background-color:var(--rs-btn-default-bg);
  padding-inline:var(--rs-spacing);
  min-width:var(--rs-input-group-input-height);
}
.rs-input-group-addon[data-size=sm]{
  padding-block:var(--rs-spacing-block-sm);
  padding-inline:var(--rs-spacing-inline-sm);
  font-size:var(--rs-font-size-sm);
}
.rs-input-group-addon[data-size=xs]{
  padding:var(--rs-spacing-inline-xs);
  font-size:var(--rs-font-size-xs);
}
.rs-input-group-addon[data-size=lg]{
  padding-block:var(--rs-spacing-block-lg);
  padding-inline:var(--rs-spacing-inline-lg);
  font-size:var(--rs-font-size-md);
}
.rs-input-group-addon input[type=radio],
.rs-input-group-addon input[type=checkbox]{
  margin-top:0;
}

.rs-input-group-btn{
  display:flex;
  align-items:center;
  position:relative;
  line-height:1;
  white-space:nowrap;
  border-radius:var(--rs-radius-none);
  font-size:var(--rs-input-group-font-size);
}